<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'works_single_view_app/site.css' %}"/>
</head>

<body>
<div class="navbar">
    <a href="{% url 'home' %}" class="navbar-brand">Home</a>
    <a href="{% url 'add_song_metadata' %}" class="navbar-item">Add Song Metadata</a>
    <a href="{% url 'find_song' %}" class="navbar-item">Find Song</a>
    <a href="{% url 'export2csv' %}" class="navbar-item">Export Works Single View to CSV</a>
</div>

<div class="body-content">
    {% block content %}
    {% endblock %}
    <hr/>
    <footer>
        <p>&copy; 2019</p>
    </footer>
</div>
</body>
</html>